# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List popular languages for Data Science
- Commonly used libraries used by Data Scientists
- Data Science Tools 
- Arithmetic Expression in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
| ------------------ |
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
x = 40
y = 12
  
add = x + y 
sub = x - y 
pro = x * y 
div = x / y 
  
print(add) 
print(sub) 
print(pro) 
print(div)

52
28
480
3.3333333333333335

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
x = 200
hour = x/60
print(hour)

3.3333333333333335

## Author
Yash Raju Shende